
.badge {
  border-radius: .7rem;
  background-color: cornflowerblue;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  padding: .2rem .4rem;

  &.priority {
    background-color: red;
  }
}

