@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap');

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans';
  font-size: 1.1rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}




