
html {
  font-size: 14px;
}

body {
  font-size: 1.1rem;

  @media (max-width: 576px) {
    font-size: 15px;
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;

  @media (max-width: 576px) {
    max-width: 100%;
  }
}




