
.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  position: relative;

  .homepage-header {
    position: absolute;
    margin-left: 0;

    img {
      margin-top: -10px;
    }
  }

  .homepage-sidebar, .homepage-songs  {
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }

  .homepage-sidebar {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    margin: 65px 20px 0 0;
  }

  .homepage-playlist {
    font-size: 1rem;
    
    h3 {
      font-size: 1rem;
      font-weight: bold;
      padding-top: 1rem;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;
      margin-block-end: 0;

      li {
        & > a {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    em {
      display: none;
      line-height: 2.5rem;
    }

    ul:empty + em {
      display: block;
    }

    a {
      margin-top: .3rem;
    }

    .divider {
      width: 1px;
      margin: .3rem 0;
      background: #d6d6d6;
      align-self: stretch;
    }

    .homepage-playlist-controls {
      display: flex;
      justify-content: space-between;

      a {
        i {
          padding-inline-end: .5rem;
        }
      }
    }
  }

  .homepage-songs {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 70%;
  }

  .dtsp-buttonGroup, .dtsp-title, .dtsp-titleRow {
    display: none;
  }

  .dtsp-searchPane.dtsp-columns-1:first-child {
    display: none;
  }

  .dtsp-searchPane {
    table {
      text-transform: capitalize;
    }

    .dtsp-search {
      font-weight: bold;
    }

    .dataTables_scrollBody {
      max-height: inherit !important;
      height: inherit !important;
    }
  }
}


