
.page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  position: relative;

  .page-list-header {
    position: absolute;
    margin-left: 0;

    img {
      margin-top: -10px;
    }
  }

  .page-list-search, .page-list-songs  {
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }

  .page-list-search {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    margin: 65px 20px 0 0;
  }

  .page-list-songs {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 70%;
  }

  .dtsp-buttonGroup, .dtsp-title, .dtsp-titleRow {
    display: none;
  }
}


