
.page-list {
  table {
    width: 100%;

    tr:hover td {
      background-color: #111;
      border-color: #111;
    }
  }

  thead {
    th {
      text-align: left;
      font-weight: bold;
    }
  }

  .capo {
    width: 10rem;
    text-align: center;
  }

  .tuning {
    width: 7rem;
    text-align: center;
  }
}

