
.song {
  position: relative;
  
  h1 {
    text-align: center;
    margin-block-end: 0;
  }

  > h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: #777;
    margin-block-start: 0;
  }

  .song-tuning {
    position: absolute;
    top: 0;
    right: 0;
  }

  .body {
    column-count: 2;
    column-gap: 10rem;
    margin-top: 3rem;
    line-height: 1.2rem;

    &.single {
      column-count: 1;
    }

    > h2 {
      font-size: 1.1rem;
      font-weight: bold;
      margin-block-start: 0em;
      margin-block-end: 0.4rem;
    }

    p {
      white-space: pre-wrap;
      font-family: monospace;
      font-size: 1rem;
      margin-block-start: .1em;
    }

    pre {
      font-size: 1rem;
    }
  }
}

