
.song {
  position: relative;
  padding-top: .8rem;
  
  .song-header {
    justify-content: space-between;
    display: flex;

    .song-nav {
      ul {
        padding-inline-start: 0;
        line-height: 3rem;

        li {
          list-style-type: none;
        }
      }
    }  

    .song-title {
      h1 {
        font-size: 1.8rem;
        text-align: center;
        margin-block-end: 0;
      }
    }

    .song-extra {
      line-height: 1.6rem;

      ul {
        list-style-type: none;
        margin: 0;

        a {
          span {
            width: 25px
          }
        }
      }
    }
  }

  .song-body {
    column-count: 2;
    column-gap: 2rem;
    margin-top: 1rem;
    line-height: 1.2rem;
    font-weight: bold;

    &.song-single {
      column-count: 1;
    }

    > h2 {
      font-size: 1.1rem;
      font-weight: bold;
      margin-block-start: 0em;
      margin-block-end: 0.4rem;
    }

    p {
      white-space: pre-wrap;
      font-family: monospace;
      font-size: 1rem;
      margin-block-start: 1em;
      margin-bottom: 3rem;
    }
  }
}

