---
layout: default
---

<section class="song">
  <header class="song__header">
    <div class="song__nav">
      <a href="/" class="btn btn-primary" role="button">&#10094; Home</a>
    </div>

    <div class="song__divider"></div>
    <hgroup class="song__title">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.group }}</h2>
    </hgroup>

    {% assign tags = page.tags %}
    <div class="song__divider"></div>
    <div class="song__tags">
      <section>
        <span>Tags: </span>
        <strong>{{ tags | join: ', ' | default: 'none' }}</strong>
      </section>

      <div>
        <span>Capo: </span>
        <strong>{{ page.capo | default: 'open' }} </strong>
      </div>

      <div>
        <span>Tuning: </span>
        <strong>{{ page.tuning | default: 'standard' }}</strong>
      </div>
    </div>

    {% assign links = page.links %}
    {% if links and links.size != 0 %}
    <div class="song__divider"></div>
    <div class="song__links">
      {% for link in links %}
        <a href="{{ link.url }}" target="_blank">
          <span class="fab fa-{{ link.type | downcase }}"></span>
          {% if link.highlight %}
            <span class="fa-sharp fa-solid fa-star"></span>
          {% endif %}
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
    {% endif %}

    <div class="song__divider"></div>
    <div class="sound__playlist">
      <span class="title">Playlist</span>
      <a href="#" class="btn btn-primary sound__playlist_prev" role="button">&#10094; Prev</a>
      <span class="count"></span>
      <a href="#" class="btn btn-primary sound__playlist_next" role="button">Next &#10095;</a>
    </div>
  </header>

  <section class="song-body song-force-columns-{{ page.columns | default: 2 }}">
    {{ content }}
  </section>
</div>

<script>
  $(() => {
    initSongView();
  });
</script>

